@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer components {
    .navbtn {
        @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-300
    }

    .btn {
        @apply h-7 hover:scale-110 cursor-pointer transition-all duration-300
    }
}